@model DentinhoFeliz.Application.ViewModels.CriancaViewModel

@{
    ViewData["Title"] = "Excluir Criança";
}

<h2>Excluir Criança</h2>

<h3>Você tem certeza que deseja excluir esta criança?</h3>

<div>
    <h4>Criança</h4>
    <dl class="row">
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Model.Nome
        </dd>
        <dt class="col-sm-2">
            Idade
        </dt>
        <dd class="col-sm-10">
            @Model.Idade
        </dd>
        <dt class="col-sm-2">
            Email do Responsável
        </dt>
        <dd class="col-sm-10">
            @Model.EmailResponsavel
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>